/* GENERAL */
:root {
  --red: #c52018;
  --yellow-bright: #f6bd20;
  --yellow-light: #f6e652;
  --yellow-dark: #de9400;
  --brown-dark: #623108;
  --brown-light: #9c5200;
  --cream-light: #fff6a4;
  --grey-blue: #41414a;
  --dark-grey: #292929;
}

html {
  font-size: 1rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: var(--cream-light);
}

body {
  background-color: var(--grey-blue);
  margin: 0;
  color: var(--cream-light);
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header,
.footer {
  background-color: var(--red);
  display: flex;
  justify-content: center;
  color: var(--yellow-bright);
}
