/* GENERAL */
:root {
  --hit-color: #9b1616;
  --miss-color: #27a8a8;
  --water-color: #115f0f;
  --primary-light:  #cfd8d1;
  --secondary-light: #82897f;
  --primary-dark: #1e2d30;
  --secondary-dark: #323c3d;
  --cell-size: 25px;
}

html {
  font-size: 1rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: var(--primary-dark);
}

body {
  background-color: var(--secondary-light);
  margin: 0;
  color: var(--primary-dark);
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header,
.footer {
  background-color: var(--primary-dark);
  display: flex;
  justify-content: center;
  color: var(--primary-light);
}
